<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
    <div class="container-fluid">
        <a class="navbar-brand" >Inventories</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/transactions/records">Transaction Records</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a href="#" id="navbarDowpdownMenuLink" 
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    class="nav-link dropdown-toggle">Inventory</a>
                    <div class="dropdown-menu">
                        <a href="/inventories" class="dropdown-item">Show All Items</a>
                        <a href="/inventories/add" class="dropdown-item">Add New Item</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>
</nav>


